# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Tailwind stuff:
postcss.config.js
tailwind.config.js
static/css/src/**/*
static/css/dist/**/*
node_modules
env
media
.env