{% extends 'base.html' %}
 {% load static tailwind_tags %}
 
{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js CDN -->

<main class="flex-grow p-6 overflow-auto">


    <h1 class="text-3xl font-bold mb-6 text-center">LMS Dashboard</h1>


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 mb-8">

        <div class="card text-white shadow p-4" style="background-color: #3498db;" 
             onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" 
             onfocus="this.style.transform='scale(1.1)'" onblur="this.style.transform='scale(1)'">
            <h2 class="text-lg font-semibold mb-2">Total Leads</h2>
            <p class="display-6 font-bold text-3xl">{{ stats.total }}</p>
        </div>
    
        <div class="card  text-white shadow p-4" style="background-color: #e74c3c;" 
             onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" 
             onfocus="this.style.transform='scale(1.1)'" onblur="this.style.transform='scale(1)'">
            <h2 class="text-lg font-semibold mb-2">New Leads</h2>
            <p class="display-6 font-bold text-3xl">{{ stats.new }}</p>
        </div>
    
        <div class="card bg-yellow-400 text-gray-800 shadow p-4" style="background-color: #f1c40f;" 
             onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" 
             onfocus="this.style.transform='scale(1.1)'" onblur="this.style.transform='scale(1)'">
            <h2 class="text-lg font-semibold mb-2">In Progress Leads</h2>
            <p class="display-6 font-bold text-3xl">{{ stats.in_progress }}</p>
        </div>
    
        <div class="card bg-green-500 text-white shadow p-4" style="background-color: #2ecc71;" 
             onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" 
             onfocus="this.style.transform='scale(1.1)'" onblur="this.style.transform='scale(1)'">
            <h2 class="text-lg font-semibold mb-2">Converted Leads</h2>
            <p class="display-6 font-bold text-3xl">{{ stats.converted }}</p>
        </div>
    
        <div class="card bg-gray-500 text-white shadow p-4" style="background-color: #95a5a6;" 
             onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'" 
             onfocus="this.style.transform='scale(1.1)'" onblur="this.style.transform='scale(1)'">
            <h2 class="text-lg font-semibold mb-2">Lost Leads</h2>
            <p class="display-6 font-bold text-3xl">{{ stats.lost }}</p>
        </div>
    
    </div>
    </main>
{% endblock %}
