{% extends 'base.html' %}


{% block sidebar %}
{% endblock %}


{% block content %}
<div class="w-full flex justify-center align-center p-4">
    {% comment %} <div class="toast toast-end toast-top">
        {% for message in messages %}
        <div class="alert alert-error alert-soft">
            <span>{{message}}</span>
        </div>
        {% endfor %} {% endcomment %}
    {% comment %} </div>  {% endcomment %}

    <form class="w-1/2 max-w-md flex flex-col p-4  border border-base-300 rounded-box h-[450px] mt-[100px]"
        method="post">
        {% csrf_token %}

        <h1 class="text-3xl font-bold mb-4">Set New Password</h1>
        <fieldset class="fieldset mb-4">
            <legend class="fieldset-legend">New Password</legend>
            <input type="password" name="password1" required class="input input-bordered w-full ">
        </fieldset>
        <fieldset class="fieldset mb-4">
            <legend class="fieldset-legend">Confirm New Password</legend>
            <input type="password" name="password2" required class="input input-bordered w-full ">
        </fieldset>


        <button class=" btn btn-primary" type="submit">Set Password</button>
        <a href="{% url 'accounts:login' %}" class="mt-4 text-sm text-blue-500">
            Didn't get the OTP? Click here to resend
        </a>

    </form>
</div>
<!-- Your page content here -->
{% endblock %}